@import './shared/variables.less';
@import './animation/fade.less';
@import './animation/direction.less';

.@{namespace}-drawer {
  .setCssVar(drawer-bg-color, .getCssVar(bg-color-base) []);

  @apply relative overflow-hidden;
  &--slide {
    @apply select-none;
  }
  &__swipe {
    @apply h-full;
  }
  &__body {
    background-color: .getCssVar(bg-color-base) [];
    @apply absolute shadow-2xl max-w-full max-h-full m-auto;
    &[direction='left'],
    &[direction='right'] {
      &::after {
        background-color: .getCssVar(bg-color-base) [];
        @apply content-[''] absolute top-0 bottom-0 w-full;
      }
    }
    &[direction='top'],
    &[direction='bottom'] {
      &::after {
        background-color: .getCssVar(bg-color-base) [];
        @apply content-[''] absolute left-0 right-0 h-full;
      }
    }

    &[direction='left']::after {
      @apply left-full;
    }
    &[direction='right']::after {
      @apply right-full;
    }
    &[direction='top']::after {
      @apply top-full;
    }
    &[direction='bottom']::after {
      @apply bottom-full;
    }
  }
  &__content {
    @apply w-full h-full overflow-auto;
  }
}
.direction(fade);
