@import './shared/variables.less';
@import './shared/functions.less';

.@{namespace}-element-select-item {
    --cdx-element-select-color: transparent;
    border-color: .getCssVar(element-select-color) [];
    @apply relative inline-flex m-1 border border-dashed select-none;
    &--checked {
        --cdx-element-select-color: #0ea5e9;
    }
    &--disabled {
        --cdx-element-select-color: #a3a3a3;
        @apply cursor-not-allowed;
    }
    &__mask {
        background-color: .getCssVar(element-select-color) [];
        @apply absolute inset-0 opacity-20 z-10;
    }
    &__input {
        @apply hidden;
    }
}
