@import './shared/variables.less';
@import './animation/rotate.less';
@import './animation/fade.less';

@keyframes cdx-loading-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -40px;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -120px;
    }
}
.@{namespace}-loading {
    &__mask {
        --@{namespace}-loading-size: 30px;
        --@{namespace}-loading-mask-color: rgba(255, 255, 255, 0.8);
        background-color: var(e('--@{namespace}-loading-mask-color'));
        @apply absolute inset-0 ~"z-[1000]" text-cyan-400;
    }
    &--fullscreen {
        @apply fixed;
    }
    &__tip {
        @apply absolute top-1/2 -translate-y-1/2 flex flex-col items-center w-full;
    }
    &__spinner {
        width: var(e('--@{namespace}-loading-size'));
        height: var(e('--@{namespace}-loading-size'));
        @apply ~"animate-[cdx-loading-rotate_2s_linear_infinite]" inline stroke-2 stroke-current;
        circle {
            @apply ~"animate-[cdx-loading-dash_1.5s_ease-in-out_infinite]";
        }
    }
    &__text {
        @apply mt-1 text-current text-sm text-center;
    }
}
